<%= simple_form_for(@week) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, disabled: true %>
    <%= f.input :number %>
    <%= f.input :days, label: "Aantal dagen" %>
    <%= f.input :mechanics, label: "Monteurs" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
