
<div class="large-8 large-offset-2 columns">

  <div class="secondary callout">

    <h5>Orders</h5>
    <table>
      <thead>
        <tr>
          <th width="200"></th>
          <th>Capaciteit</th>
          <th>Verdelers</th>
          <th>Uren</th>
        </tr>
      </thead>
      <tbody>

        <% @weeks.each do |week| %>
        <% number = week["number"] %>
        <% wk = Week.where(number: number).first %>
          <tr>
            <td><span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='<%= Order.monday_this_week(number).strftime("%a, %d %B, %Y") %> tot <%= Order.friday_this_week(number).strftime("%a, %d %B, %Y") %>'>Week <%= number %></span></td>
            <td><%= wk.capacity %></td>
            <td><%= Order.quantity_this_week(number) %></td>
            <td><%= Order.production_hours_this_week(number) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>


<table class="hover stack">
  <tbody>

    <% unless @late_orders.nil? || @late_orders.empty? %>
    <thead>
      <tr style="background-color:#cacaca">
        <th width="20"></th>

        <th width="200">Leverdatum</th>
        <th width="70">Gereed?</th>
        <th width="100">Order</th>
        <th width="10">Bon</th>
        <th width="400">Klant</th>
        <th width="450">Omschrijving</th>
        <th width="105">Aantal</th>
        <th width="105">Uren</th>
        <th width="105">Uren +/-</th>
        <th width="105">Uren NC</th>
        <th></th>
      </tr>
    </thead>

    <tr style="background-color:#cc4b37">
        <td colspan="12"></td>
    </tr>

      <% @late_orders.each do |order| %>
      <tr>
        <td class="text-center" style="background-color:#cc4b37">
          <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Te laat'>
            <i style='color: #fff' class='fi-alert'></i>
          </span>
        </td>
        <td class="text-right">
          <%= order.delivery_date.strftime("%a, %d %B, %Y") %>
        </td>


            <!-- <td class="text-center" style='background-color:#3adb76'>
            <td class="text-center" style='background-color:#FDFD96'> -->
        <td class="text-center">
          <span class="<%= order.id %>">
            <%= link_to t(order.ready.to_s), toggle_order_path(order), :method => :put, remote: true %>
          </span>
        </td>

        <td><%= order.order_number %></td>
        <td><%= order.receipt_number %></td>
        <td><%= order.customer %></td>
        <td><%= order.description %></td>

        <td class="text-right">
          <%= order.quantity %>
        </td>

        <% if order.hours.between?(0, 0.1) %>
          <td class="text-right" style='background-color:#ffae00'>
        <% else %>
          <td class="text-right">
        <% end %>
          <%= order.hours %>
        </td>

        <% if order.hours_diff < 0 %>
          <td class="text-right" style='background-color:#ffc7ce'>
        <% else %>
          <td class="text-right">
        <% end %>
          <%= order.hours_diff %>
        </td>

        <% if order.hours_nc > 0 %>
          <td class="text-right" style='background-color:#bdd7ee'>
        <% else %>
          <td class="text-right">
        <% end %>
          <%= order.hours_nc %>
        </td>

        <% if order.hours_diff < 0 %>
        <td class="text-center" style="background-color:#cc4b37">
          <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Over te tijd'>
            <i style='color: #fff' class='fi-x'></i>
          </span>
        </td>
        <% elsif order.hours.between?(0, 0.1) %>
        <td class="text-center" style="background-color:#ffae00">
          <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Controleer tijd en aantal'>
            <i style='color: #fff' class='fi-x'></i>
          </span>
        </td>
        <% else %>
          <td class="text-center" style="background-color:#3adb76">
            <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Controleer tijd en aantal'>
              <i style='color: #fff' class='fi-check'></i>
            </span>
          </td>
        <% end %>

      </tr>
      <% end %>
      <tr style="background-color:#cc4b37">
          <td colspan="12"></td>
      </tr>
    <% end %>

    <% @orders_per_week.each_with_index do |orders, index| %>
    <% orders = orders - @late_orders unless @late_orders.nil? %>
    <% unless orders.empty? %>

      <thead>
        <tr style="background-color:#cacaca">
          <th width="20">
            <small>
              Wk.<%= index + 1 %>
            </small>
          </th>

          <th width="200">Leverdatum</th>
          <th width="70">Gereed?</th>
          <th width="100">Order</th>
          <th width="10">Bon</th>
          <th width="400">Klant</th>
          <th width="450">Omschrijving</th>
          <th width="105">Aantal</th>
          <th width="105">Uren</th>
          <th width="105">Uren +/-</th>
          <th width="105">Uren NC</th>
          <th></th>
        </tr>
      </thead>
      <tr style="background-color:#ccc">
          <td colspan="12"></td>
      </tr>
    <% end %>
      <% orders.sort_by(&:delivery_date).each do |order| %>

        <tr>
          <td class="text-center"><%= order.status_icons %></td>
          <td class="text-right"><%= order.delivery_date.strftime("%a, %d %B, %Y") %></td>

          <td class="text-center">
            <span class="<%= order.id %>">
              <%= link_to t(order.ready.to_s), toggle_order_path(order), :method => :put, remote: true %>
            </span>
          </td>

          <td><%= order.order_number %></td>
          <td><%= order.receipt_number %></td>
          <td><%= order.customer %></td>
          <td><%= order.description %></td>

          <td class="text-right">
            <%= order.quantity %>
          </td>


          <% if order.hours.between?(0, 0.1) %>
            <td class="text-right" style='background-color:#ffae00'>
          <% else %>
            <td class="text-right">
          <% end %>
            <%= order.hours %>
          </td>

          <% if order.hours_diff < 0 %>
            <td class="text-right" style='background-color:#ffc7ce'>
          <% else %>
            <td class="text-right">
          <% end %>
            <%= order.hours_diff %>
          </td>

          <% if order.hours_nc > 0 %>
            <td class="text-right" style='background-color:#bdd7ee'>
          <% else %>
            <td class="text-right">
          <% end %>
            <%= order.hours_nc %>
          </td>

          <% if order.hours_diff < 0 %>
          <td class="text-center" style="background-color:#cc4b37">
            <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Over te tijd'>
              <i style='color: #fff' class='fi-x'></i>
            </span>
          </td>
          <% elsif order.hours.between?(0, 0.1) %>
          <td class="text-center" style="background-color:#ffae00">
            <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='Controleer tijd en aantal'>
              <i style='color: #fff' class='fi-x'></i>
            </span>
          </td>
          <% else %>
            <td class="text-center" style="background-color:#3adb76">
              <span data-tooltip aria-haspopup='true' class='has-tip' data-disable-hover='false' tabindex='1' title='OK'>
                <i style='color: #fff' class='fi-check'></i>
              </span>
            </td>
          <% end %>
        </tr>

      <% end %>
    <% end %>

  </tbody>
</table>
