<p id="notice"><%= notice %></p>

<p>
  <strong>Leverdatum:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Order nummer:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Klant:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Omschrijving:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Vrijgegeven:</strong>
  <%= @order.production %>
</p>

<p>
  <strong>Afdeling:</strong>
  <%= @order.department %>
</p>

<p>
  <strong>Aantal:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Uren:</strong>
  <%= @order.hours %>
</p>

<p>
  <strong>Uren verschil:</strong>
  <%= @order.hours_diff %>
</p>

<p>
  <strong>Uren geboekt:</strong>
  <%= @order.hours_nc %>
</p>

<p>
  <strong>Stuklijst:</strong>
  <%= @order.item_list %>
</p>

<p>
  <strong>Materiaal voorgecalculeerd:</strong>
  &euro; <%= @order.material_bc %>
</p>

<p>
  <strong>Materiaal nagecalculeerd:</strong>
  &euro; <%= @order.material_pc %>
</p>

<%= link_to 'Terug', orders_path, class: "button" %>
